*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --cv-bg-white: #fff;
  --body-bg-red: #e30a0a; 
  --text-color-regular: #000;
  --text-weight-regular: 400;
  --text-weight-accent: 600;
  --text-weight-bold: 700;
}

body {
  padding: 3rem;

  font-family: 'Work Sans', sans-serif;
  line-height: 1.4;

  background-color: var(--body-bg-red);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.heading__primary {
  font-size: 3rem;
  font-weight: 700;
}

.heading__secondary {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.text__accent {
  font-size: 1.4rem;
  font-weight: 600;
}

.text__primary {
  font-size: 1.4rem;
  font-weight: 400;
}

.cv__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 4rem;
  column-gap: 2.6rem;
  padding: 2.5rem 5rem;

  background-color: var(--cv-bg-white);
  border-radius: 4rem;
}

.cv__header {
  grid-column: 1 / -1;
  display: flex;
  gap: 1rem;
}

.header__contacts-box {
  margin-left: auto;

  text-align: right;
}

.header__image {
  display: block;
  width: 8rem;
  border-radius: 50%;
}

.header__profession {
  font-weight: 400;
  font-size: 1.8rem;
}

.cv__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cv__card {
  display: grid;
  grid-template-columns: 13rem 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 0.6rem;
  column-gap: 1.2rem;
  margin-bottom: 1.6rem;
}

.cv__card:last-child {
  margin: 0;
}

.card__duration {
  grid-row: 1 / -1;
}

.ed__card {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
}

.ed__card:last-child {
  margin: 0;
}

.ed__duration {
  flex: 0 1 13rem;
}

.ed__title {
  flex: 1;
}

.cv__sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills__list,
.language__list,
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  list-style: none;
}

.contacts__link:link,
.contacts__link:visited {
  color: var(--text-color-regular);
}

.contacts__link:hover,
.contacts__link:active {
  text-decoration: none;
}